{% extends "base.html" %}

{% block body %}

  <h1>{{ title }}</h1>

    {% if  moduledata %}
      {% for data in moduledata %}
      <h2>{{ data.fullname }}</h2>
        {% if data.load_error %}
          <div class="aet-output aet-error">
            <pre>{{data.load_traceback}}</pre>
        {% else %}
         <div class="aet-output aet-success">
           Successfully imported.
        {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <div class="aet-output aet-error">
        No such module found.
      </div>
    {% endif %}

{% endblock %}
